.speech{
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}

direction{
    font-size:medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color:aliceblue;
}
.name.direction:hover{
    color:bisque;
    background-color:burlywood;

}
.name.COMEDIAN{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:green;
    
}
.name.COMEDIAN:hover{
    text-shadow: 3px 3px 3px lightcoral ;
    border:0.5px dashed olive;
    color:blueviolet;
    
}


.name.VILLAIN{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color:brown;

    
}
.name.VILLAIN:hover{
    text-shadow: 3px 3px 3px red ;
    border:0.5px dashed lightcoral;
    color:blue;

}
.name.OLDMAN{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;
    

}
.name.OLDMAN:hover{
    text-shadow: 3px 3px 3px lightpink ;
    border:0.5px dashed lightcoral;
    color:blueviolet;
    
}

.name.TRAGEDIAN:hover{
    text-shadow: 3px 3px 3px lightskyblue ;
    border:0.5px dashed olive;
    color:chocolate;
    
}


.name.TRAGEDIAN{
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    color:coral;
    

}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:60%
}
td{
    border:2px solid darkgreen;
    text-align:left;
    padding:7px;
    color:darkblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;

}
th{
    border:2px solid darkgreen;
    text-align:left;
    padding:7px;
    color:darkblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;

}
tr:nth-child(even){
    background-color:antiquewhite;
}
.navbar-horizontal{

}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:aliceblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color:burlywood;
  }
  
  .active {
    background-color: #04AA6D;
  }