speech{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}direction:hover{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: aqua;
}
div.COMEDIAN{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
}
div.VILLAIN{
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    color:chartreuse;
}div.OLDMAN{
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:blue;

}div.TRAGEDIAN{
    font-size: smaller;
    font-family: 'Times New Roman', Times, serif;
    color:lightcora;

}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width:60%
}
td{
    border:2px solid darkgreen;
    text-align:left;
    padding:7px;
    color:darkblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;

}
th{
    border:2px solid darkgreen;
    text-align:left;
    padding:7px;
    color:darkblue;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 100px;

}
tr:nth-child(even){
    background-color:antiquewhite;
}
